.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 16px; 
    padding: 16px;
    justify-items: center; 
    margin: 0;
    background-color: #f2ecdc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(33 27 20 / 49%);
    grid-auto-flow: dense; 
  }
  
    .artwork-item {
    width: 100%;
    height: 200px;  
    object-fit: cover;  
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: 1fr; 
    }
  }
  
  
  @media (min-width: 601px) and (max-width: 900px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
 
  @media (min-width: 901px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr); 
    }
  }  